
# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyCsnUnGngUfWO9wWzD6G4Dgu3YJxOa6mBY
VITE_FIREBASE_AUTH_DOMAIN=abdurazakovfaridun.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=abdurazakovfaridun
VITE_FIREBASE_STORAGE_BUCKET=abdurazakovfaridun.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=99824190877
VITE_FIREBASE_APP_ID=1:99824190877:web:34f7b58165815de1941b74